{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}

   <!-- ======= About Us Section ======= -->
   <section id="about" class="about">
    <div class="container">

      <div class="section-title">
    
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'Gestion/img/about-img.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
          <h3>JAGUARETE...la empresa joven con la experiencia justa.</h3>
          <p class="fst-italic">
            Para todo tipo de Eventos te ofrecemos los mejores servicios de ornamentacion.
          </p>
          <ul>
            <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check2-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->




{% endblock %}