{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}




<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
          <br>
          <br>
        <h2>CARRITO</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
      </div>

      

    </div>
  </section>


{% endblock %}


