{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}




<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title">
        <br>
        <br>
      <h2>CATEGORIA</h2>
      

            <!-- BARRA DE CATEGORIAS -->
  <footer id="footer">
    
    <div class="copyright">
 


      
      {% for cate in cat %}
                                          


          <p style="color: aquamarine; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">  {{cate.descripcion}}  </p> 
         

      {% endfor %}


    </div>
             
</footer>
    </div>

      
  </div>
</section>



{% endblock %}


