{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}



<h1>Contactanos</h1>

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contactanos</h2>
        
        <a href="mailto:cocoperez817@gmail.com?Subject=Interesado%20en%20el%20producto">Haz click aqui y mandanos tu sugerencia</a>   

      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="contact-about">
            <h3>JAGUARETE</h3>
            <p>Buscanos en nuestras redes sociales.</p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p>Misiones<br>Argentina</p>
            </div>

            <div>
              <i class="bi bi-envelope"></i>
              <p>jaguarete2021@gmail.com</p>
            </div>

            <div>
              <i class="bi bi-phone"></i>
              <p>0813 345 678</p>
            </div>

          </div>
        </div>

        

      </div>

    </div>
  </section><!-- End Contact Us Section -->




{% endblock %}


