{% extends "Gestion/layout.html" %}

{% load static %}



{% block content %}
<br>
<br>
<br>
<br>

  <div class="container">

    <div class="section-title">
      <h2>Nuestros Servicios</h2>
      <p>Un producto para cada necesidad. aqui esta el tuyo.</p>

    </div>

    <div style="float:right;">
      <p style="color: rgb(48, 45, 45);">Carrito de Compra</p>

    </div>





    <div class="row"> 
     

    {% for product in productos1 %}

        <div class="col-med-3">
        <div class="card" style="width: 100%; margin: 5px 5px;">
            <img src="{{product.imagen.url}} " class ="card-img-top">
            <div class="card-body" style="text-align: center;">
                <h7 class="card-title"> {{product.titulo}}</h7> 
                <p class="card-text">{{product.descripcion}} </p>
                <p class="card-text"> ${{product.precio}} </p>
                
            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-success">Agregar al carrito</a>

            </div>

        </div>


        </div>
         
              
            
                                      
            
    {%endfor %}                  
          
        
            
    </div>

  </div>








    


   


  

 
    


    
  




</main><!-- End #main -->

{% endblock %}