<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>tp final</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Favicons -->
  <link href="{% static 'Gestion/img/jaguarete.png' %}" rel="icon">
 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Gestion/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Gestion/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Gestion/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'Gestion/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  
  <link href="{% static 'Gestion/css/style.css' %}" rel="stylesheet">
  <!--<link href="assets/css/style.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: Amoeba - v4.3.0
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{% url 'index' %}">Jaguarete</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<a href="{% url 'index' %}"><img src="{% static 'Gestion/img/jaguarete.png' %}" alt="100" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto {% if request.path == '/' %} active {% endif %}" href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/acercaDe' %} active {% endif %}" href="{% url 'acercaDe' %}">Acerca de</a></li>
         
          <!--<li><a class="nav-link scrollto {% if request.path == '/categoria' %} active {% endif %}" href="{% url 'categoria' %}">Categoria</a></li>-->
          
          <li><a href="{% url 'categoria' %}">Categoria <i class="bi bi-chevron-down"></i></a> </li>
         
          <li><a class="nav-link scrollto {% if request.path == '/contacto' %} active {% endif %}" href="{% url 'contacto' %}">Contacto</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/nuevoProducto' %} active {% endif %}" href="{% url 'nuevoProducto' %}">Nuevo Producto</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/busqueda' %} active {% endif %}" href="{% url 'search' %}">Search</a></li>
         



          <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
          <li><a class="nav-link scrollto" href="{% url 'registro' %}">Registro</a></li>
          <li><a class="nav-link scrollto" href="{% url 'carrito' %}">Carrito</a></li>

                      
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->




  <!-- CONTENIDO CAMBIANTE-->

  {% block content %}
  

  {% endblock %}



  

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Isidro Pérez</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        Deseñado con <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="{% url 'index' %}" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Gestion/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Gestion/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Gestion/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Gestion/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'Gestion/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="Gestion/js/main.js"></script>

</body>

</html>