{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}


<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
          <br>
          <br>
        <h2>NUEVO PRODUCTO</h2>
        <p>solo para moderadores</p>
          




      </div>

      

    </div>
  </section>

{% endblock %}


