{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}


<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
          <br>
        <h2>Resultado</h2>
        
        <p>Estas buscando: <strong>{{query}}</strong></p>
        {% if product %}
            <p> los productos encontrados:{{product|length}} productos></p>
            <ul>
                {% for productoo in product%}
                    <li>
                        {{productoo.titulo}} &nbsp; {{productoo.categoria}} &nbsp; {{productoo.precio}}
                    </li>

                {%endfor%}



            </ul>
        {% else %}
            <p>NO ESTA EL PRODUCTO BUSCADO</p>
        
        {% endif %}
        
        
        </form>

      </div>

     

    </div>
  </section><!-- End Contact Us Section -->

        
        
        

{% endblock %}    


   