{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}


<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
          <br>
        <h2>Search de productos </h2>
        
        <form action="/resultados_busqueda/" method="GET">   <!--"/buscar/" es una url , GET saca info del bckend POST para guardar info en formularios y esta oculta--> 
            <input type="text" name="prd">
            <input type="submit" value="Buscar">
        
        
        </form>

      </div>

     

    </div>
  </section><!-- End Contact Us Section -->

  {% endblock %}    




        






    
  
      
        
   