{% extends "Gestion/layout.html" %}

{% load static %}
{% block content %}







   <section id="contact" class="contact section-bg">
        <div class="container">
    
          <div class="section-title">
              <br>
              <br>
            

                {% if form.errors %}
                <p>INTENTA OTRAVEZ.</p>
                {% endif %}
                
                {% if next %}
                    {% if user.is_authenticated %}
                    <p>NO TIENES EL PERMISO PARA ACCEDER.</p>
                    {% else %}
                    <p>LOGUEATE EN ESTA PAGINA.</p>
                    {% endif %}
                {% endif %}
                
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                
                <div>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </div>
                <div>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </div>
                
                <div>
                  <input type="submit" value="login" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
                </form>
                
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Olvidaste tu password?</a></p>

                
          </div>
    
          
    
        </div>
      </section> 
{% endblock %} 




